
<h1 mat-dialog-title >Agendar mi cita</h1>
<div mat-dialog-content >
<form [formGroup]="productForm">
    <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field appearance="outline" color="accent">
      <mat-label >Nombre:</mat-label>
      <input formControlName="Nombre" matInput placeholder="Ingrese su nombre...">
    </mat-form-field></td>

    <td><mat-form-field appearance="outline" color="accent">
      <mat-label>Apellidos</mat-label>
      <input formControlName="Apellidos" matInput placeholder="Ingrese su apellidos...">
    </mat-form-field></td>
  </tr>
  </table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width" appearance="outline" color="accent">
      <mat-label>Email</mat-label>
      <input type="email" formControlName="Email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
            placeholder="Ingrese su correo">
      <mat-hint></mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Ingrese un correo valido
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field></td>

    <td><mat-form-field appearance="outline" color="accent">
      <mat-label>Celular:</mat-label>
      <span matPrefix> &nbsp;</span>
      <input formControlName="Celular" type="tel" matInput placeholder="Ingresu su numero...">
    </mat-form-field></td>
  </tr>
  </table>

  <table class="example-full-width" cellspacing="0"><tr>
  <td><mat-form-field appearance="outline" color="accent">
    <mat-label>Hora</mat-label>
    <input formControlName="Hora" type="time" id="appt" name="appt" min="09:00" max="16:00" matInput  color="accent">
  </mat-form-field></td>
 

    <td><mat-form-field appearance="outline" color="accent">
      <mat-label for="appt">Fecha</mat-label>
      <input formControlName="Fecha" matInput [matDatepicker]="picker">
      <mat-hint ></mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"  color="accent"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> 
  </td> 
  </tr>
  <p>Horario de 9:00 Am a 16:00 Pm</p>
  </table>

  
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Servicios</mat-label>
    <mat-select formControlName="Servicio" placeholder="Ingrese su apellidos...">
      <mat-option value="Pagina Web">Pagina Web</mat-option>
      <mat-option value="Diseño de marca">Diseño de marca</mat-option>
      <mat-option value="Gestion de Redes">Gestion de Redes</mat-option>
      <mat-option value="Otro Servicio">Otro Servicio</mat-option>
    </mat-select>
  </mat-form-field>



  <mat-form-field appearance="outline" color="accent">
    <mat-label>Descripcion</mat-label>
    <textarea formControlName="Descripcion" matInput placeholder="Haz una descripcion..."></textarea>
  </mat-form-field>
</form>
</div>

<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn">Cerrar</button>
  <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="enviarCita()">Enviar</button>

</div>


